@charset "utf-8";
/* CSS Document */
#picture {
	float: left;
}

#clear{
	clear:both;
}
#header{
	border: 1px solid black;
}

/*父级相对定位   */
#login {
	float: right;
	padding-top: 20px;
	font-size: 15px;
	position: relative;
}

/*子级绝对定位   */
#login_info {
	position: absolute;
	visibility: visible;
	border: 1px solid black;
	height: 20px;
	width: 500px;
	margin-top: 20px;
}

#login_form {
	
	float: left;
}

#msg {
	position: relative;
	border: 1px solid green;
	width: 200px;
	height: 20px;
	width: 500px;
}

#search_isolate{
	
	border:2px solid gray;
	height:200px;
	
}	

#houseUser_search{
	
	margin-top:10px;
	padding-top: 30px;
	border: 2px solid gray;
}

#addHouse{
	
	float:right;
	margin-left: 10px;
}
